
/* BASE */
*{margin: 0; padding: 0;}

html{
  font-family: Roboto, sans-serif;
  font-size: 0.90em;
  line-height: 24px;
  color: $text_color;
  background-color: #ffffff;
}

/* LINKS */
a{
  text-decoration: none;
  color: inherit;
}

/* TITLES*/
h1{
  color: $title_elements_color;
  font-size: 2em;
  text-transform: uppercase;
}
h2{color: $title_elements_color;}

/* IMPORTANTS */
strong{color: $primary_color;}
.alt-strong{color: inherit;}

em{
  font-style: normal;
  font-weight: 600;
  color: #fff;
}

/* OTHERS */
dt{
  color: $title_elements_color;
  font-size: 1.3em;
  font-weight: 700;
}

address{
  font-style: normal;
}

/* FORMS */
input, textarea{
  display: block;
  min-width: 320px;
  min-height: 35px;

  border: solid #cccccc 1px;
  border-radius: 3px;

  font-family: Roboto;
  font-weight: 400;

  padding-left: 12px;
  margin-top: 16px;
}
::placeholder {
    color: #999999;
    opacity: 1; /* Firefox */
}
textarea{
  padding-top: 12px;
}
