
/**
* START : BASE
* Described the basic elements style, like <p>, <h1> etc... and "generic" class
*/

/* MAIN */
*{margin: 0; padding: 0;}

html{
  font-family: Roboto, sans-serif;
  font-size: $global_text_font-size;
  line-height: 24px;
  color: $global_primary-text-color;
  background-color: $global_background-color;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* LINKS */
a{
  text-decoration: none;
  color: inherit;
  &.full-size  {
    display: block;
    width: 100%;
    height: 100%;
  }
}

/* TITLES*/
h1{
  color: $global_h1-text-color;
  font-size: $global_h1-font-size;
  text-transform: uppercase;
}
h2{color: $global_h1-text-color;}

/* IMPORTANTS */
strong{color: $global_primary-color;}
.alt-strong{color: inherit;}

em{
  font-style: normal;
  font-weight: 600;
  color: $global_em-text-color;
}

/* OTHERS */
dt{
  color: $global_h1-text-color;
  font-size: 1.3em;
  font-weight: 700;
}

address{
  font-style: normal;
}

/* FORMS */
input, textarea{
  display: block;
  min-width: 320px;
  min-height: 35px;

  border: solid $global_form-border-color 1px;
  border-radius: 3px;

  font-family: Roboto;
  font-weight: 400;

  padding-left: 12px;
  margin-top: 16px;
}
::placeholder {
    color: $global_form-placeholder-color;
    opacity: 1; /* Firefox */
}
textarea{
  padding-top: 12px;
}

.anchor {
  position: absolute;
  top: 0; right: 0;
}

/**
* END : BASE
*/
