

// Text colors & size
$global_primary-text-color:                      #65696e;
$global_alternate-text-color :                   #fff;
$global_text_font-size:                          0.90em;

// Theme colors
$global_primary-color :                          #5cadd3;
$global_darken-primary-color:                    darken($global_primary-color, 12%);

$global_background-color :                       #fff;

//Title Colors & size
$global_h1-text-color:                           #000;
$global_h1-alternate-text-color :                #fff;
$global_h1-font-size:                            2em;

//Menu colors
$global_menu-hover-color :                       $global_primary-color;
$global_menu-text-color:                         #8f8f8f;
$global_menu-alternate-text-color :              darken($global_menu-text-color, 40%); // OR : #575757

// Transitions
$global_default-transition-duration :            0.3s;
// Forms
$global_form-border-color:                       #ccc;
$global_form-placeholder-color:                  #999;

// Others
$global_em-text-color:                           $global_alternate-text-color;
