
/**
* START MODULE : btn
* Described different buttons styles
*/
.btn{
  display: inline-block;
  padding: 10px 17px 8px 17px;

  min-width: 0px;
  line-height: normal;

  border-radius: 3px;
  border: none;
  border-bottom: solid 3px $global_darken-primary-color;

  background-color: $global_primary-color;
  color: $global_alternate-text-color;
  font-weight: 600;

  transition: $global_default-transition-duration;

  &:hover{background-color: $global_darken-primary-color;}

  &.btn-submit{cursor: pointer;}
}
/**
* END MODULE : btn
* Described different buttons styles
*/
