
/**
* START MODULE : contact
* Described contact section style
*/
.l-contact iframe, .contact-shadow{
  width: 100%;
  height: 630px;
}

.contact-shadow{
  position: absolute;

  background: $global_primary-color;
  opacity: 0.2;
}

.contact-area{
  position: absolute;
  right: 150px;
  margin-top: 50px;
  padding : 20px;

  width: 360px;
  height: 530px;

  background-color: rgba(255,255,255,0.9);

  z-index: 5;
}
/**
* END MODULE : contact
* Described contact section style
*/
