
.l-header{background-color: #fff;}

  .header-logo{margin: 65px 0 0 10%;}

  .header-menu{
    margin:34px 30% 0 0;

    display: flex;
    justify-content: space-around;

    list-style-type: none;
    text-align: center;
  }

  .menu-item {
    display: block;

    color:$global_menu-text-color;
    border-top: solid 3px #fff;

    a{ display: block;
       padding: 45px 15px 45px 15px;
    }
    &.is-active{@include createMenuBorder();}
    &:hover{color:$global_menu-hover-color}
  }
