

.l-header{background-color: #fff;}

  .header-logo{
    position: absolute;
    left: 10%; top:65px;
  }

  .header-menu ul{
    list-style-type: none;
    position: absolute;
    right: 10%; top: 40px;
  }

  .menu-item {
    color:$menu_color;

    &:hover {color: $menu_color_alternate;}
  }

  .header-menu li{
    display: inline-block;
    padding: 45px 15px 45px 15px;

    &.is-active{
      border-top: solid 3px $primary_color;
      color:$menu_color_alternate;
    }
  }
