/*----------------------------*\
    BASE
\*----------------------------*/
/* BASE */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 0.90em;
  line-height: 24px;
  color: #65696e;
  background-color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

a.full-size {
  display: block;
  width: 100%;
  height: 100%;
}

/* TITLES*/
h1 {
  color: #000;
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  color: #000;
}

/* IMPORTANTS */
strong {
  color: #5cadd3;
}

.alt-strong {
  color: inherit;
}

em {
  font-style: normal;
  font-weight: 600;
  color: #fff;
}

/* OTHERS */
dt {
  color: #000;
  font-size: 1.3em;
  font-weight: 700;
}

address {
  font-style: normal;
}

/* FORMS */
input, textarea {
  display: block;
  min-width: 320px;
  min-height: 35px;
  border: solid #ccc 1px;
  border-radius: 3px;
  font-family: Roboto;
  font-weight: 400;
  padding-left: 12px;
  margin-top: 16px;
}

::placeholder {
  color: #999;
  opacity: 1;
  /* Firefox */
}

textarea {
  padding-top: 12px;
}

.anchor {
  position: absolute;
  top: 0;
  right: 0;
}

/*----------------------------*\
    LAYOUT
\*----------------------------*/
.layout {
  display: flex;
  justify-content: space-between;
}

/* SECTION */
.section-header {
  width: 60%;
  margin: auto;
  text-align: center;
  flex-direction: column;
}

.section-content {
  margin: auto;
  width: 85%;
}

.l-header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 143px;
  z-index: 99;
}

.l-slider {
  margin-top: 143px;
  height: 550px;
}

.service-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.l-project {
  flex-direction: column;
  padding: 30px 0 50px 0;
}

.project-menu {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

/* fix anchor with fixed menu */
#Services:target, #Projects:target, #Contact:target {
  padding-top: 155px;
  margin-top: -155px;
  background-clip: content-box;
}

#Projects:target .section-header {
  padding-top: 30px;
}

/*----------------------------*\
    MODULES
\*----------------------------*/
.l-header {
  background-color: #fff;
}

.header-logo {
  margin: 65px 0 0 10%;
}

.header-menu {
  margin: 34px 30% 0 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
}

.menu-item {
  display: block;
  color: #8f8f8f;
  border-top: solid 3px #fff;
}

.menu-item a {
  display: block;
  padding: 45px 15px 45px 15px;
}

.menu-item.is-active {
  color: #292929;
  border-top: solid 3px #5cadd3;
}

.menu-item:hover {
  color: #5cadd3;
}

.service-list {
  padding: 55px 0 0 65px;
  margin-left: 130px;
}

.service-list dd {
  padding-bottom: 30px;
  text-align: justify;
}

.dt-decoration {
  position: absolute;
  margin: -20px 0 0 -85px;
}

.l-contact iframe, .contact-shadow {
  width: 100%;
  height: 630px;
}

.contact-shadow {
  position: absolute;
  background: #5cadd3;
  opacity: 0.2;
}

.contact-area {
  position: absolute;
  right: 150px;
  margin-top: 50px;
  padding: 20px;
  width: 360px;
  height: 530px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 5;
}

.l-project {
  background-color: #f5f5f5;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1400px;
  justify-content: center;
}

.project-elements, .project-elements img {
  width: 261px;
  height: 174px;
}

.project-elements {
  padding: 10px 10px 0px 10px;
  cursor: pointer;
}

.project-infos {
  display: block;
  position: absolute;
  margin-top: -69px;
  height: 62px;
  width: 261px;
  color: #fff;
  line-height: normal;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
}

.project-infos p {
  padding: 10px 0 0 10px;
}

.eye-look {
  position: absolute;
  margin-left: 210px;
  margin-top: -19px;
}

/* PROJECTS ANIMATIONS */
.project-elements:hover .project-infos {
  opacity: 1;
}

.section-separator {
  height: 60px;
}

/*START SLIDERS ANIMATIONS */
@keyframes sliderAnimation {
  0%, 35% {
    left: -100%;
  }
  50%, 85% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes progressBarAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes controlsAnimation {
  0%, 49.99% {
    z-index: -99;
  }
  50%, 100% {
    z-index: 99;
  }
}

@keyframes slider1NextAnimation {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slider1PreviousAnimation {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slider2PreviousAnimation {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes slider2NextAnimation {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

/* END SLIDERS ANIMATIONS */
.slider-st-fig, .slider-nd-fig {
  width: 100%;
  height: 550px;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.slider-st-fig {
  background-image: url("./images/slider/bg1.jpg");
}

.slider-nd-fig {
  background-image: url("./images/slider/bg2.jpg");
  left: -100%;
  animation: sliderAnimation 14s ease infinite;
}

.progress-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 10;
  margin-top: 546px;
}

.progress-bar::before {
  content: '';
  background-color: #5cadd3;
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  z-index: 20;
  animation: progressBarAnimation 7s linear infinite;
}

.slider-btn {
  font-size: 2.25em;
  color: #fff;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  text-align: center;
  line-height: 70px;
  display: block;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  margin-top: 250px;
  overflow: hidden;
  z-index: 30;
}

.slider-btn.slider-after {
  border-radius: 35px 0 0 35px;
  right: -22px;
}

.slider-btn.slider-before {
  border-radius: 0 35px 35px 0;
  left: -22px;
}

.slider-btn.sl-2 {
  animation: controlsAnimation 14s infinite;
  opacity: 0;
}

.slider-control {
  visibility: hidden;
}

.play-button {
  position: absolute;
  right: 0;
  margin: 25px 25px;
  font-size: 2.25em;
  color: #fff;
  opacity: 0.85;
  display: none;
}

/* SLIDERS - STYLE */
.slider-baseline {
  margin-top: 180px;
  margin-left: 10%;
  width: 550px;
  line-height: 32px;
}

.slider-baseline .slider-baseline-subtitle {
  margin-top: 8px;
}

.slider-baseline .slider-baseline-link {
  margin-top: 15px;
}

.slider-baseline, .slider-baseline-title {
  color: #fff;
}

.menu-btn {
  display: flex;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  list-style-type: none;
}

.menu-btn li:first-of-type {
  border-radius: 4px 0 0 4px;
}

.menu-btn li:last-of-type {
  border-radius: 0 4px 4px 0;
}

.arrow {
  display: none;
  position: absolute;
  margin: 27px 0 0 44px;
  color: #3392be;
}

.menu-btn-item {
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #65696e;
  background-color: #e5e5e5;
  border: solid 3px #e5e5e5;
}

.menu-btn-item.is-active, .menu-btn-item:hover {
  background-color: #5cadd3;
  color: #fff;
  border-color: #5cadd3;
  border-bottom-color: #3392be;
}

.menu-btn-item.is-active .arrow {
  display: block;
}

.menu-btn-item a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-btn-anchor {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
}

.h1-separator {
  width: 140px;
  border-bottom: solid 1px #ebebeb;
  margin: auto;
  margin-bottom: 20px;
}

.h1-separator::after {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  position: relative;
  margin-left: 58px;
  top: 12px;
  border-radius: 14px;
  background-color: #5cadd3;
}

.h1-separator::after {
  border: solid 5px #fff;
}

.btn {
  display: inline-block;
  padding: 10px 17px 8px 17px;
  min-width: 0px;
  line-height: normal;
  border-radius: 3px;
  border: none;
  border-bottom: solid 3px #3392be;
  background-color: #5cadd3;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background-color: #3392be;
}

.btn.btn-submit {
  cursor: pointer;
}

.dt-decoration {
  display: block;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
  text-align: center;
  line-height: 62px;
  color: #5cadd3;
  font-size: 25px;
}

.dt-decoration::before {
  content: '';
  display: block;
  position: absolute;
  margin-top: 19px;
  margin-left: 50px;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background-color: #5cadd3;
}

.dt-decoration::before {
  border: solid 5px #fff;
}

.eye-look {
  display: block;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  border: 1px solid #fff;
  background-color: #4692b1;
  text-align: center;
  color: #fff;
  line-height: 37px;
}

/*----------------------------*\
    RESPONSIVE
\*----------------------------*/
/* Big desktop screen (Full HD) */
/* Tiny optimisation */
@media screen and (min-width: 1600px) {
  /**** BASE ****/
  .section-header {
    width: 45%;
  }
  .section-content {
    width: 72%;
  }
}

@media screen and (min-width: 1800px) {
  /**** BASE ****/
  .section-header {
    width: 40%;
  }
  .section-content {
    width: 67%;
  }
}

/* Little Desktop screens */
@media screen and (max-width: 1100px) {
  /**** BASE ****/
  .section-header {
    width: 75%;
  }
  .section-content {
    width: 96%;
  }
  /**** SERVICES ****/
  .service-list {
    margin-left: 80px;
    transition-duration: 0.5s;
  }
}

/* Tablets screens */
@media screen and (max-width: 900px) {
  .service-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .service-list {
    width: 80%;
    margin-left: 5%;
    padding-top: 30px;
  }
}

/* Mobiles screens */
@media screen and (max-width: 740px) {
  /**** BASE ****/
  .section-header {
    width: 85%;
  }
  /**** HEADERS ****/
  .header-logo {
    margin: auto;
    margin-top: 15px;
  }
  .l-header {
    flex-direction: column;
    align-items: center;
  }
  .header-menu {
    margin: auto;
  }
  .menu-item {
    border-top: none;
    border-bottom: solid 3px #fff;
  }
  .menu-item a {
    padding: 15px 33px 15px 33px;
  }
  .menu-item.is-active {
    border-top: none;
    color: #292929;
    border-bottom: solid 3px #5cadd3;
  }
  .menu-item.is-active:hover {
    color: #5cadd3;
  }
  /**** CONTACT ****/
  .contact-area {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

/*----------------------------*\
    EVENTS
\*----------------------------*/
/* HEADER MENU */
#Services:target ~ .l-header #Item-Services,
#Projects:target ~ .l-header #Item-Projects,
#Contact:target ~ .l-header #Item-Contact {
  color: #292929;
  border-top: solid 3px #5cadd3;
}

#Services:target ~ .l-header #Item-Services:hover,
#Projects:target ~ .l-header #Item-Projects:hover,
#Contact:target ~ .l-header #Item-Contact:hover {
  color: #5cadd3;
}

#Services:target ~ .l-header #Item-Home,
#Projects:target ~ .l-header #Item-Home,
#Contact:target ~ .l-header #Item-Home {
  color: #8f8f8f;
  border-top: solid 3px #fff;
}

#Services:target ~ .l-header #Item-Home:hover,
#Projects:target ~ .l-header #Item-Home:hover,
#Contact:target ~ .l-header #Item-Home:hover {
  color: #5cadd3;
}

#Cat-Allworks:target ~ .l-header #Item-Home,
#Cat-Creative:target ~ .l-header #Item-Home,
#Cat-Corporate:target ~ .l-header #Item-Home,
#Cat-Portfolio:target ~ .l-header #Item-Home {
  color: #8f8f8f;
  border-top: solid 3px #fff;
}

#Cat-Allworks:target ~ .l-header #Item-Home:hover,
#Cat-Creative:target ~ .l-header #Item-Home:hover,
#Cat-Corporate:target ~ .l-header #Item-Home:hover,
#Cat-Portfolio:target ~ .l-header #Item-Home:hover {
  color: #5cadd3;
}

#Cat-Allworks:target ~ .l-header #Item-Projects,
#Cat-Creative:target ~ .l-header #Item-Projects,
#Cat-Corporate:target ~ .l-header #Item-Projects,
#Cat-Portfolio:target ~ .l-header #Item-Projects {
  color: #292929;
  border-top: solid 3px #5cadd3;
}

#Cat-Allworks:target ~ .l-header #Item-Projects:hover,
#Cat-Creative:target ~ .l-header #Item-Projects:hover,
#Cat-Corporate:target ~ .l-header #Item-Projects:hover,
#Cat-Portfolio:target ~ .l-header #Item-Projects:hover {
  color: #5cadd3;
}

/* SLIDERS
  - Manage controls, progress-bar and slide function of user interactions
*/
/* For slides, controls, and progress-bar when a click is detected:
 Stop everithing running */
#sl-st-after:target ~ .slider-nd-fig, #sl-st-before:target ~ .slider-nd-fig, #sl-nd-after:target ~ .slider-nd-fig, #sl-nd-before:target ~ .slider-nd-fig {
  animation: none;
}

#sl-st-after:target ~ .progress-bar, #sl-st-before:target ~ .progress-bar, #sl-nd-after:target ~ .progress-bar, #sl-nd-before:target ~ .progress-bar {
  opacity: 0;
  transition: 1s;
}

#sl-st-after:target ~ .progress-bar::before, #sl-st-before:target ~ .progress-bar::before, #sl-nd-after:target ~ .progress-bar::before, #sl-nd-before:target ~ .progress-bar::before {
  animation: none;
}

#sl-st-after:target ~ .slider-btn.sl-2, #sl-st-before:target ~ .slider-btn.sl-2, #sl-nd-after:target ~ .slider-btn.sl-2, #sl-nd-before:target ~ .slider-btn.sl-2 {
  animation: none;
  z-index: 99;
}

#sl-st-after:target ~ .play-button, #sl-st-before:target ~ .play-button, #sl-nd-after:target ~ .play-button, #sl-nd-before:target ~ .play-button {
  display: block;
  z-index: 100;
}

#sl-st-before:target ~ .slider-nd-fig {
  animation: slider1PreviousAnimation 1s ease forwards;
}

#sl-st-before:target ~ .slider-btn.sl-2 {
  z-index: 99;
}

#sl-st-after:target ~ .slider-nd-fig {
  animation: slider1NextAnimation 1s ease forwards;
}

#sl-st-after:target ~ .slider-btn.sl-2 {
  z-index: 99;
}

#sl-nd-before:target ~ .slider-nd-fig {
  animation: slider2PreviousAnimation 1s ease forwards;
}

#sl-nd-before:target ~ .slider-btn.sl-2 {
  z-index: -99;
}

#sl-nd-after:target ~ .slider-nd-fig {
  animation: slider2NextAnimation 1s ease forwards;
}

#sl-nd-after:target ~ .slider-btn.sl-2 {
  z-index: -99;
}

/* PROJECTS
- Manage menu-btn - Same as header menu :
- Allworks category is allways selected except when another category is seleted
*/
#Cat-Creative:target ~ #Projects .project-content .project-menu ul #MenuBtnCreative,
#Cat-Corporate:target ~ #Projects .project-content .project-menu ul #MenuBtnCorporate,
#Cat-Portfolio:target ~ #Projects .project-content .project-menu ul #MenuBtnPortfolio {
  background-color: #5cadd3;
  color: #fff;
  border-color: #5cadd3;
  border-bottom-color: #3392be;
}

#Cat-Creative:target ~ #Projects .project-content .project-menu ul #MenuBtnCreative .arrow,
#Cat-Corporate:target ~ #Projects .project-content .project-menu ul #MenuBtnCorporate .arrow,
#Cat-Portfolio:target ~ #Projects .project-content .project-menu ul #MenuBtnPortfolio .arrow {
  display: block;
}

/* Display normal button when a category is selected */
#Cat-Creative:target ~ #Projects .project-content .project-menu ul #MenuBtnAllworks,
#Cat-Portfolio:target ~ #Projects .project-content .project-menu ul #MenuBtnAllworks,
#Cat-Corporate:target ~ #Projects .project-content .project-menu ul #MenuBtnAllworks {
  color: #65696e;
  background-color: #e5e5e5;
  border: solid 3px #e5e5e5;
}

#Cat-Creative:target ~ #Projects .project-content .project-menu ul #MenuBtnAllworks .arrow,
#Cat-Portfolio:target ~ #Projects .project-content .project-menu ul #MenuBtnAllworks .arrow,
#Cat-Corporate:target ~ #Projects .project-content .project-menu ul #MenuBtnAllworks .arrow {
  display: none;
}

/* DISPLAY ELEMENTS FUNCTION OF CATEGORY */
#Cat-Creative:target ~ #Projects .project-content .project-list .project-elements:not(.category-creative),
#Cat-Corporate:target ~ #Projects .project-content .project-list .project-elements:not(.category-corporate),
#Cat-Portfolio:target ~ #Projects .project-content .project-list .project-elements:not(.category-portfolio) {
  display: none;
}

@media screen and (max-width: 740px) {
  #Services:target ~ .l-header #Item-Services,
  #Projects:target ~ .l-header #Item-Projects,
  #Contact:target ~ .l-header #Item-Contact {
    border-top: none;
    color: #292929;
    border-bottom: solid 3px #5cadd3;
  }
  #Services:target ~ .l-header #Item-Services:hover,
  #Projects:target ~ .l-header #Item-Projects:hover,
  #Contact:target ~ .l-header #Item-Contact:hover {
    color: #5cadd3;
  }
  #Services:target ~ .l-header #Item-Home,
  #Projects:target ~ .l-header #Item-Home,
  #Contact:target ~ .l-header #Item-Home {
    border-top: none;
    color: #8f8f8f;
    border-bottom: solid 3px #fff;
  }
  #Services:target ~ .l-header #Item-Home:hover,
  #Projects:target ~ .l-header #Item-Home:hover,
  #Contact:target ~ .l-header #Item-Home:hover {
    color: #5cadd3;
  }
  /***** Menu Btn ****/
  #Cat-Allworks:target ~ .l-header #Item-Home,
  #Cat-Creative:target ~ .l-header #Item-Home,
  #Cat-Corporate:target ~ .l-header #Item-Home,
  #Cat-Portfolio:target ~ .l-header #Item-Home {
    border-top: none;
    color: #8f8f8f;
    border-bottom: solid 3px #fff;
  }
  #Cat-Allworks:target ~ .l-header #Item-Home:hover,
  #Cat-Creative:target ~ .l-header #Item-Home:hover,
  #Cat-Corporate:target ~ .l-header #Item-Home:hover,
  #Cat-Portfolio:target ~ .l-header #Item-Home:hover {
    color: #5cadd3;
  }
  #Cat-Allworks:target ~ .l-header #Item-Projects,
  #Cat-Creative:target ~ .l-header #Item-Projects,
  #Cat-Corporate:target ~ .l-header #Item-Projects,
  #Cat-Portfolio:target ~ .l-header #Item-Projects {
    border-top: none;
    color: #292929;
    border-bottom: solid 3px #5cadd3;
  }
  #Cat-Allworks:target ~ .l-header #Item-Projects:hover,
  #Cat-Creative:target ~ .l-header #Item-Projects:hover,
  #Cat-Corporate:target ~ .l-header #Item-Projects:hover,
  #Cat-Portfolio:target ~ .l-header #Item-Projects:hover {
    color: #5cadd3;
  }
}
