
/**
* START : GRID
* Described blocks position, size and alignement.
* Child elements are describe in their own sub-section
*/
.layout{
  display: flex;
  justify-content:space-between;
}
/* SECTION */
.section-header{
  width: 60%;
  margin:auto;
  text-align: center;
  flex-direction: column;
}

.section-content{
  margin: auto;
  width: 85%
}


.l-header{
  position: fixed;
  top: 0; right: 0;
  width: 100%;
  height: 143px;
  max-width: 100%;
  z-index:99;
}

/* SLIDER */
.l-slider{
  margin-top: 143px;
  height:550px;
  max-width:100%;
}

/* SERVICES */
.service-content{
  display: flex;
  justify-content:space-between;
  margin-top: 40px;
}

/* PROJECT */
.l-project{
  flex-direction: column;
  padding: 30px 0 50px 0;
}

/* SPECIAL (anchor) */
/* fix anchor with fixed menu */
#Services:target, #Projects:target, #Contact:target {
    padding-top: 155px;
    margin-top: -155px;
    background-clip: content-box;
}
#Projects:target .section-header{
  padding-top: 30px;
}

/**
* END : GRID
*/
